<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body class="bg-black-100 dark:bg-gray-900 text-gray-900 dark:text-white min-h-screen">

<div class="max-w-4xl mx-auto mt-10 p-6 bg-white dark:bg-gray-800 rounded-xl shadow-md">
    <h1 class="text-3xl font-bold text-center mb-4 text-center">Expense Tracker</h1>
    <div class="search-container mb-4">
        <input
                type="text"
                id="searchInput"
                placeholder="Search expenses..."
                class="w-full p-2 border border-gray-300 rounded mb-4"
                hx-get="/api/expenses/search"
                hx-trigger="keyup changed delay:500ms"
                hx-target="tbody"
                hx-indicator="#loadingIndicator"
                name="query"
        />
        <span id="loadingIndicator" class="loading-indicator htmx-indicator">Loading...</span>
    </div>
    <div>
        <span>
        <a href="/expenses/new" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition-colors">Add New Expense</a>
        <form
        hx-get="/api/expenses/search/expenseDate"
        hx-trigger="change"
        hx-target="tbody"
        hx-indicator="#loadingIndicator">
        <label for="startingDate">After:
        </label>
            <input
            type="date" id="startingDate" name="startingDate"
                   class="w-full p-2 border border-gray-300 rounded mb-4">

        <label for="endingDate">Before:
        </label>
            <input
                    type="date" id="endingDate" name="endingDate"
                    class="w-full p-2 border border-gray-300 rounded mb-4">

        <button type="submit">Confirm</button>
        </form>
            </span>
    </div>


    <table class="expenses-table">
        <thead>
        <tr>
            <th class="px-4 py-2">Date</th>
            <th class="px-4 py-2">Amount</th>
            <th class="px-4 py-2">Description</th>
            <th class="px-4 py-2">From/To</th>
        </tr>
        </thead>
        <tbody hx-get="/api/expenses" hx-trigger="load" hx-target="this">
        <!-- Content will be loaded here -->
        </tbody>
    </table>

</div>

</body>
</html>
